<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrialplatform.beta.mapper.dataBaseMapper">

<!--  获取mqtttag列表  -->
    <select id="getMqttTagList" resultType="mqttTag">
        select *
        from mqtttag
    </select>

<!--  获取表的列名  -->
    <select id="getTableColNameByTableName" parameterType="String" resultType="String">
        select COLUMN_NAME
        from information_schema.COLUMNS
        where table_name = #{tableName}
    </select>

<!--  获取列数据  -->
    <select id="getColData" parameterType="String" resultType="String" statementType="CALLABLE">
        CALL getColData(#{tableName},#{colName})
    </select>
<!--  获取行数据  -->
    <select id="getRowData" resultType="Map">
        select *
        from equipmentrepair
    </select>


</mapper>