<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrialplatform.beta.mapper.dbItemMapper">
<!--  item组件map  -->
    <resultMap id="itemMap" type="dashBoardItem">
        <id property="itemID" column="a_itemID"/>
        <result property="x" column="a_x"/>
        <result property="y" column="a_y"/>
        <result property="w" column="a_w"/>
        <result property="h" column="a_h"/>
        <result property="title" column="a_title"/>
    </resultMap>
<!--  图表/item内部件map  -->
    <resultMap id="itemObjectMap" type="Graph" >
        <id property="graphID" column="b_graphID"/>
        <result property="graphName" column="b_graphName"/>
        <result property="graphType" column="b_graphType"/>
    </resultMap>

<!--  柱状图map  -->
    <resultMap id="BarChartMap" type="BarChart"  >
        <result property="xType" column="c_xType"/>
        <result property="yType" column="c_yType"/>
        <collection property="series" resultMap="BarDetailMap"/>
    </resultMap>
<!--  柱状图detailMap  -->
    <resultMap id="BarDetailMap" type="BarDetail" >
        <id property="legendID" column="d_legendID"/>
        <result property="name" column="d_name"/>
    </resultMap>

<!--  折线图map  -->
    <resultMap id="LineChartMap" type="LineChart"  >
        <result property="xType" column="c_xType"/>
        <result property="yType" column="c_yType"/>
        <collection property="series" resultMap="LineDetailMap"/>
    </resultMap>
<!--  折线图detailMap  -->
    <resultMap id="LineDetailMap" type="LineDetail" >
        <id property="legendID" column="d_legendID"/>
        <result property="name" column="d_name"/>
    </resultMap>


<!--  获取图表的类型  -->
    <select id="getChartTypeById" parameterType="int" resultType="String">
        select b.graphType
        from dbitem a,graph b,dbitembind e
        where a.itemID=#{id} and a.itemID=e.itemID and b.graphID=e.graphID
    </select>

<!--  获取item基本信息  -->
    <select id="getItemInfoByItemID" parameterType="int" resultType="dashBoardItem">
        select a.itemID as itemID,
               a.x as x,
               a.y as y,
               a.w as w,
               a.h as h,
               a.title as title
        from dbitem a
        where a.itemID=#{id}
    </select>

<!--  获取图表基本信息  -->
    <select id="getGraphByItemID" parameterType="int" resultMap="itemObjectMap">
        select b.graphID as b_graphID,
               b.graphName as b_graphName,
               b.graphType as b_graphType
        from dbitem a,graph b,dbitembind e
        where a.itemID=#{id} and a.itemID=e.itemID and b.graphID=e.graphID
    </select>

<!--  获取柱状图基本信息  -->
    <select id="getBarChartByGraphID" parameterType="int" resultMap="BarChartMap">
        select c.xType as c_xType,
               c.yType as c_yType,
               d.legendID as d_legendID,
               d.name as d_name
        from barchart c,bardetail d
        where c.graphID=#{graphid} and d.graphID=c.graphID
    </select>

<!--  获取折线图基本信息  -->
    <select id="getLineChartByGraphID" parameterType="int" resultMap="LineChartMap">
        select c.xType as c_xType,
               c.yType as c_yType,
               d.legendID as d_legendID,
               d.name as d_name
        from linechart c,linedetail d
        where c.graphID=#{graphid} and d.graphID=c.graphID
    </select>

<!--  获取Barx轴信息  -->
    <select id="getBarChartXArrayData" resultType="String" parameterType="int" statementType="CALLABLE">
        call getBarChartXArray(#{graphID})
    </select>
<!--  获取Bar数据  -->
    <select id="getBarData" resultType="int" parameterType="int" statementType="CALLABLE">
        call getBarData(#{graphID},#{legendID})
    </select>

<!--  获取Linex轴信息  -->
    <select id="getLineChartXArrayData" resultType="String" parameterType="int" statementType="CALLABLE">
        call getLineChartXArray(#{graphID})
    </select>
<!--  获取Line数据  -->
    <select id="getLineData" resultType="int" parameterType="int" statementType="CALLABLE">
        call getLineData(#{graphID},#{legendID})
    </select>

</mapper>