<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.industrialplatform.beta.mapper.dbItemMapper">
<!--  item组件map  -->
    <resultMap id="itemMap" type="dashBoardItem">
        <id property="itemID" column="a_itemID"/>
        <result property="x" column="a_x"/>
        <result property="y" column="a_y"/>
        <result property="w" column="a_w"/>
        <result property="h" column="a_h"/>
        <result property="type" column="a_type"/>
        <result property="title" column="a_title"/>
    </resultMap>
<!--  图表/item内部件map  -->
    <resultMap id="itemObjectMap" type="Graph" >
        <id property="graphID" column="b_graphID"/>
        <result property="graphName" column="b_graphName"/>
        <result property="graphType" column="b_graphType"/>
    </resultMap>

<!--  柱状图map  -->
    <resultMap id="BarChartMap" type="BarChart"  >
        <result property="xType" column="c_xType"/>
        <result property="yType" column="c_yType"/>
        <collection property="series" resultMap="BarDetailMap"/>
    </resultMap>
<!--  柱状图detailMap  -->
    <resultMap id="BarDetailMap" type="BarDetail" >
        <id property="legendID" column="d_legendID"/>
        <result property="name" column="d_name"/>
    </resultMap>

<!--  折线图map  -->
    <resultMap id="LineChartMap" type="LineChart"  >
        <result property="xType" column="c_xType"/>
        <result property="yType" column="c_yType"/>
        <collection property="series" resultMap="LineDetailMap"/>
    </resultMap>
<!--  折线图detailMap  -->
    <resultMap id="LineDetailMap" type="LineDetail" >
        <id property="legendID" column="d_legendID"/>
        <result property="name" column="d_name"/>
    </resultMap>

 <!--  散点图map  -->
    <resultMap id="ScatterChartMap" type="ScatterChart"  >
        <result property="xType" column="c_xType"/>
        <result property="yType" column="c_yType"/>
    </resultMap>

<!--  创建仪表盘  -->
    <insert id="createDashBoard" parameterType="DashBoard">
        insert into dashboard(dbName,userID,info)
        values(#{dbName},#{userID},#{info})
    </insert>

<!--  获取该用户的所有仪表盘列表  -->
    <select id="getDBListByUserID" parameterType="int" resultType="DashBoard">
        select dbID,dbName,info
        from dashboard
        where userID=#{userID}
    </select>
<!--  获取该用户的所有图表列表  -->
    <select id="getGraphListByUserID" parameterType="int" resultType="Graph">
        select ID as graphID,graphName,type as graphType
        from graphmasterinfo
        where userID=#{userID}
    </select>

<!--  删除仪表盘  -->
    <delete id="deleteDB" parameterType="int">
        delete from dashboard
        where dbID=#{dbID}
    </delete>
<!--  删除图表  -->
    <delete id="deleteGraph" parameterType="int">
        delete from graphmasterinfo
        where ID=#{graphID}
    </delete>

<!--  获取db所有的ItemID  -->
    <select id="getdbItemIDList" parameterType="int" resultType="int">
        select itemID
        from dbitem
        where dbID=#{dbID}
    </select>

<!--  获取graph的类型  -->
    <select id="getGraphTypeByGraphID" parameterType="int" resultType="String">
        select type
        from graphmasterinfo
        where ID=#{graphID}
    </select>
<!--  获取chart的类型  -->
    <select id="getChartTypeById" parameterType="int" resultType="String">
        select b.graphType
        from graph b
        where b.graphID=#{id}
    </select>

<!--  获取图表ID  -->
    <select id="getGraphIdByItemId" parameterType="int" resultType="int">
        select e.graphID
        from dbitembind e
        where e.itemID=#{id}
    </select>

<!--  获取当前最大的图表ID  -->
    <select id="getCurrentGrpahID" resultType="int">
        select max(ID)
        from graphmasterinfo
    </select>
<!--  获取当前图表数  -->
    <select id="getCurrentGraphNum" resultType="int">
        select count(ID)
        from graphmasterinfo
    </select>

<!--  获取当前最大的itemID  -->
    <select id="getCurrentItemID" resultType="int">
        select max(itemID)
        from dbitem
    </select>
<!--  获取当前的item数  -->
    <select id="getCurrentItemNum" resultType="int">
        select count(itemID)
        from dbitem
    </select>

<!--  获取当前柱状图最大的legendID  -->
    <select id="getCurrentBarLegendID" resultType="int">
        select max(*)
        from bardetail
        where graphID=#{graphID}
    </select>
<!--  获取当前柱状图的legend数量  -->
    <select id="getCurrentBarLegendNum" resultType="int">
        select count(*)
        from bardetail
        where graphID=#{graphID}
    </select>
<!--  获取当前折线图最大的legendID  -->
    <select id="getCurrentLineLegendID" resultType="int">
        select max(*)
        from linedetail
        where graphID=#{graphID}
    </select>
<!--  获取当前折线图的legend数量  -->
    <select id="getCurrentLineLegendNum" resultType="int">
        select count(*)
        from linedetail
        where graphID=#{graphID}
    </select>

<!--  获取当前DB的item数量  -->
    <select id="countdbItemNum" parameterType="int" resultType="int">
        select count(*)
        from dbitem
        where dbID=#{dbID}
    </select>

<!--  获取Item位置列表  -->
    <select id="getItemLocationListBydbID" parameterType="int" resultType="dashBoardItem">
        select x,y,w,h
        from dbitem
        where dbID=#{dbID}
    </select>
<!--  获取item基本信息  -->
    <select id="getItemInfoByItemID" parameterType="int" resultType="dashBoardItem">
        select a.itemID as i,
               a.x as x,
               a.y as y,
               a.w as w,
               a.h as h,
               a.type as type,
               a.title as title
        from dbitem a
        where a.itemID=#{id}
    </select>
<!--  更新item位置  -->
    <update id="updateItemLoc" parameterType="dashBoardItem">
        update dbitem
        set x=#{x},y=#{y},w=#{w},h=#{h}
        where itemID=#{i}
    </update>

<!--  注册新Item  -->
    <insert id="addNewItemToDB">
        insert into dbitem(itemID,dbID,type,x,y)
        values(#{itemID},#{dbID},#{type},#{x},#{y})
    </insert>
<!--  图表item绑定  -->
    <insert id="bindGraphToItem">
        insert into dbitembind(itemID,graphID)
        values(#{itemID},#{graphID})
    </insert>
<!--  注册图表  -->
    <insert id="registGraph" >
        insert into graphmasterinfo(ID,userID,type,graphName)
        values(#{ID},#{userID},#{type},#{graphName})
    </insert>

<!--  获取图表基本信息  -->
    <select id="getGraphByGraphID" parameterType="int" resultMap="itemObjectMap">
        select b.graphID as b_graphID,
               b.graphName as b_graphName,
               b.graphType as b_graphType
        from graph b
        where b.graphID=#{id}
    </select>
<!--  添加Graph  -->
    <insert id="addGraph" >
        insert into graph(graphID,graphName,graphType,dataSource)
        values(#{graphID},#{graphName},#{graphType},#{dataSource})
    </insert>

<!--  获取柱状图基本信息  -->
    <select id="getBarChartByGraphID" parameterType="int" resultMap="BarChartMap">
        select c.xType as c_xType,
               c.yType as c_yType,
               d.legendID as d_legendID,
               d.name as d_name
        from barchart c,bardetail d
        where c.graphID=#{graphid} and d.graphID=c.graphID
    </select>
<!--  添加柱状图  -->
    <insert id="addBarChart" >
        insert into barchart(graphID,xType,yType,xArraySource)
        values(#{graphID},#{barChart.xType},#{barChart.yType},#{barChart.xArraySource})
    </insert>
<!--  添加柱状图Detail  -->
    <insert id="addBarDetail" >
        insert into bardetail(graphID,legendID,name,dataCol)
        values(#{graphID},#{barDetail.legendID},#{barDetail.name},#{barDetail.dataCol})
    </insert>

<!--  获取折线图基本信息  -->
    <select id="getLineChartByGraphID" parameterType="int" resultMap="LineChartMap">
        select c.xType as c_xType,
               c.yType as c_yType,
               d.legendID as d_legendID,
               d.name as d_name
        from linechart c,linedetail d
        where c.graphID=#{graphid} and d.graphID=c.graphID
    </select>
<!--  添加折线图  -->
    <insert id="addLineChart" >
        insert into linechart(graphID,xType,yType,xArraySource)
        values(#{graphID},#{lineChart.xType},#{lineChart.yType},#{lineChart.xArraySource})
    </insert>
<!--  添加折线图Detail  -->
    <insert id="addLineDetail" >
        insert into linedetail(graphID,legendID,name,dataCol)
        values(#{graphID},#{lineDetail.legendID},#{lineDetail.name},#{lineDetail.dataCol})
    </insert>

<!--  添加饼图  -->
    <insert id="addPieChart" >
        insert into piechart(graphID,pieSource,valueSource)
        values(#{graphID},#{pieChart.pieSource},#{pieChart.valueSource})
    </insert>

<!--  获取散点图基本信息  -->
    <select id="getScatterChartByGraphID" parameterType="int" resultMap="ScatterChartMap">
        select c.xType as c_xType,
               c.yType as c_yType
        from scatterchart c
        where c.graphID=#{graphid}
    </select>
<!--  添加散点图  -->
    <insert id="addScatterChart" >
        insert into scatterchart(graphID,xArraySource,yArraySource,xType,yType)
        values(#{graphID},#{scatterChart.xArraySource},#{scatterChart.yArraySource},#{scatterChart.xType},#{scatterChart.yType})
    </insert>


<!--  获取Barx轴信息  -->
    <select id="getBarChartXArrayData" resultType="String" parameterType="int" statementType="CALLABLE">
        call getBarChartXArray(#{graphID})
    </select>
<!--  获取Bar数据  -->
    <select id="getBarData" resultType="int" parameterType="int" statementType="CALLABLE">
        call getBarData(#{graphID},#{legendID})
    </select>

<!--  获取Linex轴信息  -->
    <select id="getLineChartXArrayData" resultType="String" parameterType="int" statementType="CALLABLE">
        call getLineChartXArray(#{graphID})
    </select>
<!--  获取Line数据  -->
    <select id="getLineData" resultType="int" parameterType="int" statementType="CALLABLE">
        call getLineData(#{graphID},#{legendID})
    </select>

<!--  获取PieColumn信息  -->
    <select id="getPieColumn" resultType="String" parameterType="int" statementType="CALLABLE">
        call getPieColumn(#{graphID})
    </select>
<!--  获取PieValue数据  -->
    <select id="getPieValue" resultType="int" parameterType="int" statementType="CALLABLE">
        call getPieValue(#{graphID})
    </select>

<!--  获取Scatterx轴坐标列  -->
    <select id="getScatterXData" resultType="float" parameterType="int" statementType="CALLABLE">
        call getScatterXData(#{graphID})
    </select>
<!--  获取Scattery轴坐标列  -->
    <select id="getScatterYData" resultType="float" parameterType="int" statementType="CALLABLE">
        call getScatterYData(#{graphID})
    </select>

<!-- 获取mqtt图表数据  -->
    <select id="getMQTTGraphDataByGraphID" resultType="mqttGraph" parameterType="int">
        select a.mqttID,
               a.tag,
               a.max,
               a.min,
               a.tagName,
               a.type,
               a.graphName
        from mqttgraph a
        where a.mqttID=#{graphID}
    </select>
<!--  添加MQTTGraph  -->
    <insert id="addMQTTGraph" >
        insert into mqttgraph(mqttID,tag,max,min,tagName,type,graphName)
        values(#{mqttID},#{tag},#{max},#{min},#{tagName},#{type},#{graphName})
    </insert>


<!-- 获取table信息  -->
    <select id="getTableInfoByGraphID" resultType="Table" parameterType="int">
        select a.tableID,
               a.tableName,
               a.graphName
        from tableitem a
        where a.tableID=#{graphID}
    </select>
<!--  添加Table  -->
    <insert id="addTable" >
        insert into tableitem(tableID,tableName,graphName)
        values(#{tableID},#{tableName},#{graphName})
    </insert>
</mapper>